<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="vs:EnableBrowserLink" value="false"/>
  <!-- IoC MVC控制器程序集清单 -->
  <add key="Ioc:MvcControllerAssemblys" value="NKingime.Fight"/>
  <!-- IoC 依赖注入匹配的程序集正则表达式（不配置将加载所有的） -->
  <add key="Ioc:DependencyAssemblyPattern" value="^NKingime.*"/>
  <!-- 视图分页首页页码（默认第1页） -->
  <add key="View:PageNumber" value="1"/>
  <!-- 视图分页页大小（默认10条） -->
  <add key="View:PageSize" value="10"/>
</appSettings>