<connectionStrings>
  <add name="NKingimeDb" connectionString="Data Source=(local);Initial Catalog=NKingimeDb;Persist Security Info=True;User ID=sa;Password=pass@word2" providerName="System.Data.SqlClient" />
  <!--<add name="NKingimeDb" connectionString="Data Source=YANFA-PC\MSSQLSERVER08;Initial Catalog=NKingimeDb;Persist Security Info=True;User ID=sa;Password=pass@word2" providerName="System.Data.SqlClient" />-->
</connectionStrings>