<?xml version="1.0" encoding="utf-8" ?>
<!--自定义注册-->
<customRegister>
  <!--行为-->
  <behaviour typeName="NKingime.Core.Log.LoggerBase" assembly="NKingime.Core">
    <!--实例-->
    <instance typeName="NKingime.Core.Log.Log4NetLogger" assembly="NKingime.Core" enabled="true" priority="1"></instance>
  </behaviour>
</customRegister>