<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="custom.config">
      <section name="customBehaviour" type="NKingime.Core.Config.CustomBehaviourSection, NKingime.Core" />
    </sectionGroup>
  </configSections>
  <!--自定义配置-->
  <custom.config>
    <customBehaviour configSource="Config\CustomBehaviour.config"></customBehaviour>
  </custom.config>
</configuration>