<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="custom.config">
      <section name="customRegister" type="NKingime.Core.Config.CustomRegisterSection, NKingime.Core" />
    </sectionGroup>
  </configSections>
  <!--自定义配置-->
  <custom.config>
    <customRegister configSource="Config\CustomRegister.config"></customRegister>
  </custom.config>
</configuration>